html {
	font-family: "Roboto", sans-serif;
}

.bg-primary {
	background: #55adbe;
}

.bg-secondary {
	background: #9eb1da;
}

.bg-accent {
	background: #7277c9;
}

.text-primary {
	color: #55adbe;
}

.text-secondary {
	color: #9eb1da;
}

.text-accent {
	color: #7277c9;
}

.text-haha {
	color: #7277c9;
}

/* .dt-layout-start {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}
.dt-layout-end {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
} */

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
	border-bottom: none !important;
}
